@page
@model WebApplication1.Pages.Alunos.SucessoModel
@{
}

<div class="text-center alert alert-success" role="alert">
    ALUNO CADASTRADO COM SUCESSO! <br>
    <a class="btn btn-dark" asp-area="" asp-page="/Alunos/Index" role="button">Voltar</a>
</div>