@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center alert alert-success" role="alert">
    PACIENTE CADASTRADO COM SUCESSO! <br>
    <a class="btn btn-primary" asp-area="" asp-controller="Paciente" asp-action="Index" role="button">Voltar</a>
</div>
