@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">O NÚMERO DA SORTE É: @Model.randomNumber</h1>
</div>

@if (Model.randomNumber > 70)
{
<div class="text-center">
    <h3 class="display-4">VOCÊ ESTÁ COM MUITA SORTE HOJE!!!</h3>
</div>
}